<section class="icon icon-search" id="search-container">
  <hr class="divider short" />
<!--  document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'-->
  <form target="blank" id="search-form" >
    <input type="text" name="search" placeholder="Searching" id="search-click-field" />
  </form>
</section>
