{{!< default}}
{{> meta}}
<div class="error-Wrapper">
  <div class="astro-wrap">
    <a class="astronaut" href="#" title="return to base"></a>
  </div>
  <div class="mayday">
    <h1 class="error-code">{{statusCode}}</h1>
    <p class="error-message">{{message}}</p>
    <a href="{{@site.url}}" class="btn btn-primary back-btn">{{t "Return to home page"}}</a>
  </div>
</div>
