{{!< default}}

{{#post}}

  <article class="{{post_class}}">
    <header>
      <h1 class="icon-reverse" id="post-title">{{title}}</h1>
    </header>

    <div id="post-content" class="{{post_class}}">
      {{content}}
    </div>

  </article>

{{/post}}
