#posts-list {
  padding: 0;
  margin: 5rem 0;
  list-style-type: none;

  > li {
    margin-left: 1rem;
    margin-bottom: 1.25rem;

    > time {
      float: right;
      text-transform: uppercase;
      color: #777;
      font-size: 10px;
      letter-spacing: 2px;
    }

    > a {
      @extend %dotted-link;
    }

    > span > a {
      bottom: 2px;
    }

  }

}


#post-content {
  max-width: 858px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.125rem;

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 1.5rem;
  }

  a:not(.title-link) {
    @extend %dotted-link;
  }

  a.title-link {
    color: $primary-color;
  }

  .deep-link a:before {
    display: inline-block;
    content: "#";
    margin-left: -30px;
    width: 30px;
    color: $white;
    transition: all 0.2s;
    font-family: $quote-font;
  }

  .deep-link a:hover::before {
    color: rgba($primary-color, .8);
  }

  .kg-image-card {
    text-align: center;
  }

  .kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .kg-gallery-container {
    display: flex;
    flex-direction: column;
  }

  .kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .kg-gallery-row:not(:first-of-type) {
    margin: 0.5em 0 0 0;
  }

  .kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.5em;
  }

  .kg-bookmark-card {
    margin-bottom: 2rem;
  }

  .kg-bookmark-container {
    display: flex;
    flex-wrap: wrap;
    color: #313131;
    text-decoration: none;
    background: transparent;
    border: 8px solid rgba(#000, 0.2);
    padding: 16px;
  }

  .kg-bookmark-content {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 50%;
    padding: 8px 16px 8px 8px;
  }

  .kg-bookmark-title {
    font-family: $font-title;
    font-size: 1.5rem;
    line-height: 1.3;
  }

  .kg-bookmark-description {
    font-size: 1rem;
    line-height: 1.5;
  }

  .kg-bookmark-description, .kg-bookmark-metadata {
    margin-top: 16px;
  }

  .kg-bookmark-metadata {
    display: flex;
    align-items: center;
  }

  .kg-bookmark-thumbnail {
    flex-basis: 15rem;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
  }

  .kg-bookmark-thumbnail img {
    vertical-align: bottom;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .kg-bookmark-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: bottom;
  }

  .kg-bookmark-author, .kg-bookmark-publisher {
    font-size: 0.875rem;
  }

  .kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
  }
}

.archives {
  max-width: 858px;
  a:not(.title-link) {
    @extend %dotted-link;
  }

  a.title-link {
    color: $primary-color;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-top: 1px dashed rgba(#000, 0.2);
  }
}
@media screen and (max-width:768px) {
  time {
    font-size: small;
  }

  a {
    font-size: small;
  }
}


@media screen and (min-width:768px) {
  .kg-width-wide {
    position: relative;
    max-width: 90vw;
    left: 50%;
    right: 50%;
    margin-left: -45vw;
    margin-right: -45vw;

    img {
      width: 100%;
    }
  }

  .kg-width-full {
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    position: relative;
  }

}

@media screen and (min-width:1081px) {
  .kg-width-wide {
    position: relative;
    max-width: 80vw;
    left: 50%;
    right: 50%;
    margin-left: -40vw;
    margin-right: -40vw;

    img {
      width: 100%;
    }

  }

}

.post {
  > p {
    > img {
      border-radius: $border-radius;
      display: block;
      margin: 1.5rem auto;
      max-width: 100%;
      text-align: center;
      width: auto;
    }

  }

  pre {
    width: 95%;
  }

  > header {
    text-align: center;
  }

  &.meta {
    margin: .7em 0;
    font-size: .85rem;
    color: $gray;
  }

  &.tags {
    > a {
      &:first-child {
        margin-left: .2rem;
      }

      &:last-child {
        margin-right: .2rem;
      }

      padding: .15rem .25rem;
      font-size: .55rem;
      transition: all $aside-animation-time;
      text-transform: uppercase;
      color: $gray-lightest;
      border-radius: .25rem;
      background-color: rgba($primary-color, .45);

      &:hover {
        background-color: rgba($primary-color, 1);
      }

    }

  }

  &.author {
    img {
      display: inline-block;
      height: 22px;
      margin: 0 .5rem;
      vertical-align: middle;
      border: 0;
      box-shadow: none;
    }

  }

  &.comments {
    padding: 2rem 0 0;
  }

  &.related {
    line-height: 1;
    display: flex;
    padding: 4rem 0 2rem;
    justify-content: space-between;
  }

}

#post-image {
  max-width: 100%;
  margin-top: 1rem;
}

#post-title {
  font-size: $font-title;
  margin: 3rem 0 2.5rem;
  transition: all $aside-animation-time;

  &:hover {
    color: $hover-color;
  }

}

#toc {
  background-color: white;
  display: none;
  visibility: hidden;
  float: right;
  width: 20%;
  padding: 0 20px 0 0;
  position: absolute;
  right: 20px;
  z-index: 9999;
}
#toc h2 {
  padding-left: 1em;
}

#toc ol {
  margin: 0 0 0 1em;
  padding: 0;
  line-height: 1em;
  list-style: none
}

#toc li {
  position: relative;
  padding: 0
}

#toc li::marker {
  overflow: hidden;
  width: 0;
  height: 0;
  content: ''
}

#toc li:before {
  position: absolute;
  top: .5em;
  left: .1em;
  border: 5px dashed transparent;
  border-left: 5px solid #57a3e8
}


#toc li:before {
  overflow: hidden;
  width: 0;
  height: 0;
  content: ''
}

#toc a {
  left: 1em;
  line-height: 25px;
  display: block;
  overflow: hidden;
  max-height: 2em;
  cursor: pointer;
  transition: color .3s;
  white-space: nowrap;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #6aa7c0
}

#toc a:hover {
  color: #f3a01e
}

#toc h4 {
  font-size: 18px;
  margin: .75em 0;
  padding-bottom: .25em;
  color: #3b3b3b
}

@media only screen and (min-width: 1570px) {
  #toc {
    visibility:visible;
    display: block
  }
}

.post-wrap {
  width: 100%;
}
